body{
    background-color: #1F2937;
    display: flex;
}

.first-section{
    display: flex;
}

.first-info{
    display: flex;
    flex-direction: column;
}

button{
color: white;
background-color: #3882F6;
border: none;
}

img{
    width: 500px;
    height: 200px;
}

.second-section{
    background-color:white;
}

.img{
    width: 500px;
    height: 500px;
}